body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #007bff;
}

h1 {
  text-align: center;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #000;
}

.slick-prev:hover,
.slick-next:hover {
  color: #007bff;
}

.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-next {
  right: 10px;
}
